@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #363636;
}

.container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img {
    width: 32rem;
}

#calculadora {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: #1c1c1c;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#input-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    font-size: 2rem;
    position: relative;
    color: #fff
}

h2::after {
    position: absolute;
    content: '';
    background-color: #00ff7f;
    width: 25%;
    height: 3px;
    bottom: 0;
    left: 0;
}

#input-item label {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

#input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4f4f4f;
    padding: 0.3rem;
    border-radius: 10px;
}

#input-field span,
#input-field i {
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    color: #fff
}

#input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

#input-field input::-webkit-outer-spin-button,
#input-field input::-webkit-inner-spin-button {
    appearance: none;
}

#input-field input:focus {
    outline: none;
}

#calcular {
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    padding: .5rem;
    cursor: pointer;
    background-color: #00ff7f;
}

#calcular:hover {
    background-color: rgb(0, 201, 100);
}

#resultado {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 2px solid #808080;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

#bmi span:last-child {
    font-size: 0.8rem;
    color: #fff
}

#descricao {
    width: 15rem;
    color: #fff;
}

.hidden {
    display: none;
}

.normal {
    color: green;
}

.atencao {
    color: red;
}